@font-face {
  font-family: "Lobster";
  src: url("../fonts/lobster/lobster-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url(../fonts/open-sans-condensed/opensanscondensed-bold.ttf)
      format("truetype"),
    url("../fonts/open-sans-condensed/opensanscondensed-light.ttf")
      format("truetype");
}

body {
  background-color: #eee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #444;
  font-weight: normal;
  line-height: 1.4;
}

.color-red {
  color: red;
}

/* Mobile, Tablet, Desktop */

/* Center image */
main img {
  width: 100%;
  max-width: 620px;
  margin: 0 auto 0 auto;
  display: block;
}

.app-header {
  border-bottom: 1px solid #999;
  padding-bottom: 1em;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
}

.app-logo {
  display: inline-block;
}

.app-navigation {
  float: right;
}

/* Link states = a:link, a:visited, a:active, a:hover */
.app-navigation a:link {
  text-decoration: none;
  color: #444;
  padding: 0.5em;
}

.app-navigation a:visited {
  color: #444;
}

.app-navigation a:active {
  color: greenyellow;
}

.app-navigation a:hover {
  color: paleturquoise;
}

.app-logo img {
  width: 160px;
}

.app-navigation-drawer {
  /* Hide nav on load */
  display: block;
  background: gray;
  padding: 0.5em;
  border-bottom: 10px solid green;
  /* Animate: default state on load */
  transition: all 0.4s linear;
  transform: translateY(-150%);
  list-style: none;
}

.sr-only {
  display: none;
}

#hamburger-menu {
  /* Hide the checkbox */
  display: none;
}

label {
  cursor: pointer;
}

#hamburger-menu:checked ~ .app-navigation-drawer {
  /* Show nav :checked */
  display: block;
  transform: translate(0px);
}
/* Media queries with responsive inline columns */
@media screen and (min-width: 767px) {
  .app-article {
    display: inline-block;
    border: 1px solid red;
    width: 60%;
  }

  .app-sidebar {
    display: inline-block;
    border: 1px solid red;
    width: 35%;
    vertical-align: top;
  }
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
  font-family: "Open Sans Condensed";
}

p {
  font-family: "Open Sans", sans-serif;
}

form {
  background-color: transparent;
}

form fieldset {
  background-color: khaki;
  border: 5px dashed greenyellow;
  padding: 0.5em 0 1em 1em;
}

form fieldset legend {
  font-style: italic;
  font-size: 2em;
}

form label {
  display: block;
}

form h5 {
  margin-bottom: 5px;
}

.input-text {
  width: 90%;
  border: 2px solid #444;
  padding: 0.2rem;
  color: #666;
  border-radius: 6px;
}

/* Use classes instead of textarea */
.input-text-area {
  border-radius: 6px;
}

input[type="submit"] {
  color: aqua;
  background-color: brown;
  width: 100%;
  /* Always remove border. Ugly */
  border: none;
  cursor: pointer;
  padding: 0.5em;
}

/* Button hover pseudo class */
input[type="submit"]:hover {
  background-color: pink;
}

/* input[type="text"] {
  border: 3px solid red;
}

input[type="email"] {
  border: 3px solid green;
}

input[type="tel"] {
  border: 3px solid blue;
}

input[type="radio"] {
  border: 3px solid wheat;
} */

/* .app-header {
  display: flex;
}

.app-navigation {
  position: absolute;
  right: 0px;
}

.app-navigation a {
  margin-right: 10px;
} */
